<!DOCTYPE html>
<html>
<head>
 <title>ΕΣΠΑ ΚΑΔ</title>
  <meta name="description" content="Επιλέξιμοι Κωδικοί Αριθμοί Δραστηριοτήτων για το Πρόγραμμα 'Ενίσχυση της αυτοαπασχόλησης πτυχιούχων τριτοβάθμιας εκπαίδευσης'">
  <meta name="author" content="Golfo Vasiliou">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
<script src="js/dirPagination.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">

<style>

</style>
</head>
<body>
<div class="container"  ng-cloak ng-app="espaApp" ng-controller="espaCtrl">
<div class="row">
<header class="col-sm-12 text-center "><h1>ΕΣΠΑ ΚΑΔ</h1><p>Αναζήτηση με βάση πολλαπλά κριτήρια στους Κωδικούς Αριθμούς Δραστηριοτήτων για τα Προγράμματα ΕΣΠΑ</p><hr>
</header>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="index.html" aria-controls="neofueis" role="tab" data-toggle="tab">Νεοφυής Επιχειρηματικότητα</a></li>
    <li role="presentation" class="active"><a href="ptuxiouxoi.html" aria-controls="ptuxiouxoi" role="tab" data-toggle="tab">Αυτοαπασχόληση Πτυχιούχων</a></li>
	<li role="presentation"><a href="touristikes.html" aria-controls="touristikes" role="tab" data-toggle="tab">Τουριστικές Επιχειρήσεις</a></li>
	<li role="presentation"><a href="mikromesaies.html" aria-controls="mikromesaies" role="tab" data-toggle="tab">Μικρομεσαίες Επιχειρήσεις</a></li>

  </ul>
<div class="row">
<main class="col-sm-12">
  
   <div class="table-responsive">
<table class="table table-condensed table-bordered" id="kadTable">
 <thead>

    <tr>
		<th id="row0" >Αρ.</th>
		<th id="row2" ng-click="sort('FIELD1')">Α/Α</th>
        <th id="row2" ng-click="sort('FIELD2')">Τομείς Κλάδοι NACE</th>
        <th id="row3" ng-click="sort('FIELD3')">Τάξεις NACE</th>
        <th id="row4" ng-click="sort('FIELD4')">Κατηγορίες CPA</th>
		<th id="row5" ng-click="sort('FIELD5')">Υπόκατηγορίες CPA</th>
		<th id="row6" ng-click="sort('FIELD6')">Εθνικές δραστηριότητες</th>
		<th id="row7"ng-click="sort('FIELD7')">Περιγραφή Δραστηριότητας</th>
		<th id="row8"ng-click="sort('FIELD8')">Κατηγοριοποίηση</th>
    </tr>
	</thead>
	<tbody>
	
	<tr>
		<td><button class="btn" ng-click="search = ''"><span data-toggle="tooltip" data-placement="top" title="Καθαρισμός πεδίων" id="refreshButton" class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></td>
<td> <input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD1" ng-model-options="{debounce: 500}"></td>

<td> <input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD2" ng-model-options="{debounce: 500}"></td>
<td><input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD3" ng-model-options="{debounce: 500}"></td>
<td><input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD4" ng-model-options="{debounce: 500}"></td>
<td><input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD5" ng-model-options="{debounce: 500}"></td>
<td><input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD6" ng-model-options="{debounce: 500}"></td>
<td><input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD7" ng-model-options="{debounce: 500}"></td>
<td > <select class="form-control" ng-model="search.FIELD8" " ng-model-options="{debounce: 500}">
<option value="" disabled selected>Κατηγορίες</option>

<!-- ng-options="prot for prot in proter|unique:prot|orderBy:'-p' -->
<option label="Επιλέξιμη" value="Επιλέξιμη">Επιλέξιμη</option>
<option label="Δευτερεύουσα" value="Δευτερεύουσα">Δευτερεύουσα</option>


		</select>
		
		</td>
		
		
</tr>
     <tr  ng-animate="'animate'" dir-paginate="field in fields|orderBy:sortKey:reverse|filter:{FIELD1: search.FIELD1, FIELD2: search.FIELD2, FIELD3: search.FIELD3, FIELD4: search.FIELD4, FIELD5: search.FIELD5, FIELD6: search.FIELD6, FIELD7: search.FIELD7, FIELD8: search.FIELD8}|itemsPerPage:100">
	 <td></td>
        <td>{{::field.FIELD1}}</td>
        <td>{{::field.FIELD2}}</td>
        <td>{{::field.FIELD3}}</td>
		<td>{{::field.FIELD4}}</td>
		<td>{{::field.FIELD5}}</td>
		<td>{{::field.FIELD6}}</td>
		<td>{{::field.FIELD7}}</td>
		<td>{{::field.FIELD8}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
    </dir-pagination-controls>
	</div>
</main>

</div>
<footer class="row text-center footer">
Made by <a href="https://github.com/faysvas">Golfo Vasiliou</a> and hosted on <a href="https://github.com/faysvas/espakad">Github</a>.
</footer>

<script>
var espaApp = angular.module('espaApp', ['ngAnimate','angularUtils.directives.dirPagination','angular.filter']);

espaApp.controller('espaCtrl', function ($scope, $http) {
$scope.reverse = true;
$scope.tomeis=[];
$scope.proter=[];
  $http.get('json/ptuxiouxoi.json').success(function(data) {
 for(var key in data){
	$scope.tomeis.push(data[key].FIELD1);
	$scope.proter.push(data[key].FIELD8);
	}
	
	
	
    $scope.fields = data;
  });
   $scope.sort = function(keyname){
        $scope.sortKey = keyname;   //set the sortKey to the param passed
        $scope.reverse = !$scope.reverse; //if true make it false and vice versa
    }
 
});


</script>
</body>
</html>