<table class="table table-condensed table-bordered" id="kadTable" ng-controller="touristikesCtrl">
 <thead>

    <tr>
		<th id="tourRow0" >Αρ.</th>
        <th id="tourRow1" ng-click="sort('FIELD1')">Τομέας</th>
        <th id="tourRow2" ng-click="sort('FIELD2')">Κωδικός Δραστηριότητας</th>
		 <th id="tourRow3" ng-click="sort('FIELD3')">Επίπεδο</th>
        <th id="tourRow4" ng-click="sort('FIELD4')">Περιγραφή Δραστηριότητας</th>
	
    </tr>
	</thead>
	<tbody>
	
	<tr>
		<td><button class="btn" ng-click="search = ''"><span data-toggle="tooltip" data-placement="top" title="Καθαρισμός πεδίων" id="refreshButton" class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></td>
	<td >
 <select class="form-control" ng-model="search.FIELD1" ng-options="tomeas for tomeas in tomeis|unique:tomeas" ng-model-options="{debounce: 500}">
 <option value="" disabled selected>Τομείς</option>
        </select>
</td>

<td> <input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD2" ng-model-options="{debounce: 500}"></td>
	<td >
 <select class="form-control" ng-model="search.FIELD3" ng-options="epipedo for epipedo in epipeda|unique:epipedo| orderBy:epipedo" ng-model-options="{debounce: 500}">
 <option value="" disabled selected>Επίπεδα</option>
        </select>
</td>
<td><input type="text" class="form-control" placeholder="Αναζήτηση" ng-model="search.FIELD4" ng-model-options="{debounce: 500}"></td>

		
</tr>
     <tr  ng-animate="'animate'" dir-paginate="field in fields|orderBy:sortKey:reverse|filter:{FIELD1: search.FIELD1, FIELD2: search.FIELD2, FIELD3: search.FIELD3, FIELD4: search.FIELD4}|itemsPerPage:100">
	 <td>{{::$index+1}}</td>
        <td>{{::field.FIELD1}}</td>
        <td>{{::field.FIELD2}}</td>
        <td>{{::field.FIELD3}}</td>
		<td>{{::field.FIELD4}}</td>

    </tr>
    </tbody>
  </table>
 
